<html>
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta http-equiv="cache-control" content="max-age=0" />
                <meta http-equiv="cache-control" content="no-cache" />
                <meta http-equiv="cache-control" content="no-store" />
                <meta http-equiv="pragma" content="no-cache" />
    </head>
    <body>
    RESULT
        <ul>
            <li>Number of days per year: {{year_days}}</li>
            <li>Number of peoples in the room: {{peoples}}</li>
            <li>Range of days: {{day_range}}</li>
            <li>Result: {{result}}</li>

        </ul>
    </body>
</html>